.add-todo-form{
    width: 40%;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    .todo-input{
        width: 65%;
        padding: 0.6rem 1rem;
        border-radius: $main-border-radius;
        margin-right: 0.5rem;
    }
    .add-todo{
        border-radius: $main-border-radius;
        padding: 0.4rem 0.7rem;
        transition: all 5s ease;
        .icon-plus-circle-solid{
color: $main-btn-color;
font-size: 1.3rem;
        }
    &:hover{
        .icon-plus-circle-solid{
            color: $main-pink;
        }
    }
    }
}