%common-input-styles {
  padding: 0.6rem 1rem;
  border-radius: $main-border-radius;
  margin-right: 0.5rem;
}

%add-edit-btns {
  color: $main-btn-color;
  border-radius: $main-border-radius;
  padding: 0.4rem 0.7rem;
  transition: all 5s ease;
}

%add-edit-btns-icon {
  font-size: 1.3rem;
}

%common-form-styles {
  width: 40%;
  margin: 0 auto;
  height: 100px;
}

.add-todo-form {
  @extend %common-input-styles;
  @extend %common-form-styles;
  .todo-input {
    width: 65%;
    padding: 0.6rem 1rem;
    border-radius: $main-border-radius;
    margin-right: 0.5rem;
  }
  .add-todo-btn {
    @extend %add-edit-btns;
    .icon-plus-circle-solid {
      @extend %add-edit-btns-icon;
    }
    &:hover {
      .icon-plus-circle-solid {
        color: $main-pink;
      }
    }
  }
}

.edit-form {
  display: none;
  justify-content: center;
  align-items: center;
  @extend %common-form-styles;
  label {
    margin-right: 0.5rem;
    color: white;
  }
  .edit-input {
    width: 65%;
    @extend %common-input-styles;
  }
  .edit-todo-btn {
    @extend %add-edit-btns;
    .icon-pen-solid {
      @extend %add-edit-btns-icon;
    }
    &:hover {
      .icon-pen-solid {
        color: $main-pink;
      }
    }
  }
}
