%complete-delete-btns {
  position: absolute;
}

.todo-list, .completed-todo-list {
  width: 40%;
  min-height: 200px;
  padding: 0.7rem 1.5rem;
  background-color: white;
  margin: 0 1rem;
  li {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    background-color: white;
    border-radius: $main-border-radius;
    margin-bottom: 5px;
    position: relative;
    .complete-todo {
      color: $main-pink;
      position: absolute;
      right: 40px;

      background: transparent;
      @extend %complete-delete-btns;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
      }
    }
    .delete-todo {
      @extend %complete-delete-btns;
      color: white;
      background-color: $main-pink;
      border-radius: 0.8rem;
      font-size: 1rem;
      right: 19px;
      font-size: 1rem;
    }
  }
}

.completed {
  text-decoration: line-through;
  color: $main-text-color;
}

.edit-form {
  display: none;
}

.display-none {
  display: none;
}
