%complete-delete-edit-btns {
  position: absolute;
}

%complete-edit-btns {
  i {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

%delete-edit-btns {
  background-color: $main-pink;
  color: white;
}

.todo-list,
.completed-todo-list {
  width: 40%;
  min-height: 200px;
  padding: 0.7rem 1.5rem;
  background-color: $main-pink;
  margin: 0 1rem;
  border-radius: $main-border-radius;
  overflow-y: scroll;
  height: 100%;
  li {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    background-color: white;
    border-radius: $main-border-radius;
    margin-bottom: 5px;
    position: relative;
    .complete-todo {
      @extend %complete-edit-btns;
      @extend %complete-delete-edit-btns;
      background: transparent;
      color: $main-pink;
      right: 37px;
      i {
        font-size: 1.3rem;
        &:hover {
          color: $main-btn-color;
        }
      }
    }
    .delete-todo {
      @extend %complete-delete-edit-btns;
      @extend %delete-edit-btns;
      border-radius: 0.8rem;
      font-size: 1rem;
      right: 19px;
      font-size: 1rem;
      &:hover {
        background-color: $main-btn-color;
      }
    }
    .edit-todo-btn {
      @extend %complete-delete-edit-btns;
      @extend %complete-edit-btns;
      @extend %delete-edit-btns;
      border-radius: 50%;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      right: 70px;
      font-size: 0.7rem;
      &:hover {
        background-color: $main-btn-color;
      }
    }
  }
}

.completed {
  text-decoration: line-through;
  color: $main-text-color;
}
.todos {
  height: 20rem;
  overflow: hidden;
  @media (max-width: 576px) {
    display: block;
  }
}

.todo-list {
  @media (max-width: 576px) {
    width: 80%;
    margin: 0 auto 1.5rem;
  }
}
.completed-todo-list{
  @media (max-width: 576px){
    display: none;
  }
}