html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background: #355C7D;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#C06C84), color-stop(#6C5B7B), to(#355C7D));
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #355C7D; }

button, input {
  outline: none;
  border: none;
  cursor: pointer; }

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

header {
  width: 100%;
  text-align: center;
  padding: 2.5rem 0 1rem; }
  header h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: white; }

.add-todo-form, .edit-form .edit-input {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem; }

.add-todo-form .add-todo-btn, .edit-form .edit-todo-btn {
  border-radius: 0.5rem;
  padding: 0.4rem 0.7rem;
  -webkit-transition: all 5s ease;
  transition: all 5s ease; }

.add-todo-form .add-todo-btn .icon-plus-circle-solid, .edit-form .edit-todo-btn .icon-pen-solid {
  font-size: 1.3rem; }

.add-todo-form {
  width: 40%;
  margin: 0 auto;
  height: 100px; }
  .add-todo-form .todo-input {
    width: 65%;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem; }
  .add-todo-form .add-todo-btn {
    color: #6C5B7B; }
    .add-todo-form .add-todo-btn:hover .icon-plus-circle-solid {
      color: #C06C84; }

.edit-form {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px; }
  .edit-form .edit-input {
    width: 75%; }
  .edit-form .edit-todo-btn {
    color: #C06C84; }
    .edit-form .edit-todo-btn:hover .icon-pen-solid {
      color: #6C5B7B; }

.todo-list li .complete-todo,
.completed-todo-list li .complete-todo, .todo-list li .delete-todo,
.completed-todo-list li .delete-todo, .todo-list li .edit-todo-btn,
.completed-todo-list li .edit-todo-btn {
  position: absolute; }

.todo-list li .complete-todo i,
.completed-todo-list li .complete-todo i, .todo-list li .edit-todo-btn i,
.completed-todo-list li .edit-todo-btn i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.todo-list li .delete-todo,
.completed-todo-list li .delete-todo, .todo-list li .edit-todo-btn,
.completed-todo-list li .edit-todo-btn {
  background-color: #C06C84;
  color: white; }

.todo-list,
.completed-todo-list {
  width: 40%;
  min-height: 200px;
  padding: 0.7rem 1.5rem;
  background-color: #C06C84;
  margin: 0 1rem;
  border-radius: 0.5rem; }
  .todo-list li,
  .completed-todo-list li {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 5px;
    position: relative; }
    .todo-list li .complete-todo,
    .completed-todo-list li .complete-todo {
      background: transparent;
      color: #C06C84;
      right: 37px; }
      .todo-list li .complete-todo i,
      .completed-todo-list li .complete-todo i {
        font-size: 1.3rem; }
    .todo-list li .delete-todo,
    .completed-todo-list li .delete-todo {
      border-radius: 0.8rem;
      font-size: 1rem;
      right: 19px;
      font-size: 1rem; }
    .todo-list li .edit-todo-btn,
    .completed-todo-list li .edit-todo-btn {
      border-radius: 50%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 20px;
      height: 20px;
      right: 70px;
      font-size: 0.7rem; }

.completed {
  text-decoration: line-through;
  color: #355C7D; }

/*# sourceMappingURL=main.css.map */